.disdiv{
    background-color:#fff;
    width: '100%';
    height: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    -webkit-box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 9px 15px -8px rgba(0,0,0,0.59);
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.1);
}
.icdiv{

    display: flex;
    align-items: center;
    height: '100%';
    width: '100%';
    margin-left: 10px;
    margin-right: 10px;
    
}

.headLink{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: rgb(36, 133, 219);
}
.headUserText{
    font-size: 20px;
    color: rgb(143, 199, 247);
    border-right-style: solid;
    padding: 10px;
    text-align: center;
    height: 100%;

}

.headButton{
    border-style: none;
    background-color: white;
    cursor: pointer;
}